# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

TODO.md
LEARNING_NOTES.MD
checkpoints/

indices/

metrics/
plots/
papers/

frontend/node_modules/
frontend/build/
frontend/dist/

.streamlit/

.DS_Store
.vscode/
.idea/

.env
*.db